<div class="well">
	<%= %Q[<img src="/images/cards/diamonds_king.jpg" class="img-polaroid">] %>
	<%= %Q[<img src="/images/cards/spades_ace.jpg" class="img-polaroid">] %>
</div>

<form action="/game/new_game">
   <input type="submit" class="btn btn-success btn-large" value="Start a new game?">
</form>